# Esempi Categorical Variable

In [1]:
print('Good_Morning_Big_Data_Lab')

Good_Morning_Big_Data_Lab

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
ls

drive/  sample_data/

In [4]:
%cd /content/drive/My Drive/Colab Notebooks/9_Label_Encoding-PCA

/content/drive/My Drive/Colab Notebooks/9_Label_Encoding-PCA

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib

Using matplotlib backend: agg

In [6]:
df = pd.read_csv('tips.csv')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Method1

In [0]:
df1 = df
sex = pd.get_dummies(df['sex'])

In [8]:
sex

     Female  Male
0         1     0
1         0     1
2         0     1
3         0     1
4         1     0
..      ...   ...
239       0     1
240       1     0
241       0     1
242       0     1
243       1     0

[244 rows x 2 columns]

In [0]:
df1.sex = pd.Categorical(df.sex,['Male','Female'])

In [0]:
df1.sex=df1.sex.cat.codes

In [11]:
df1.head()

   total_bill   tip  sex smoker  day    time  size
0       16.99  1.01    1     No  Sun  Dinner     2
1       10.34  1.66    0     No  Sun  Dinner     3
2       21.01  3.50    0     No  Sun  Dinner     3
3       23.68  3.31    0     No  Sun  Dinner     2
4       24.59  3.61    1     No  Sun  Dinner     4

In [12]:
data = pd.concat([df1,sex],axis=1)
data.head()

   total_bill   tip  sex smoker  day    time  size  Female  Male
0       16.99  1.01    1     No  Sun  Dinner     2       1     0
1       10.34  1.66    0     No  Sun  Dinner     3       0     1
2       21.01  3.50    0     No  Sun  Dinner     3       0     1
3       23.68  3.31    0     No  Sun  Dinner     2       0     1
4       24.59  3.61    1     No  Sun  Dinner     4       1     0

In [0]:
data = data.drop('sex', axis='columns')

In [14]:
data.head()

   total_bill   tip smoker  day    time  size  Female  Male
0       16.99  1.01     No  Sun  Dinner     2       1     0
1       10.34  1.66     No  Sun  Dinner     3       0     1
2       21.01  3.50     No  Sun  Dinner     3       0     1
3       23.68  3.31     No  Sun  Dinner     2       0     1
4       24.59  3.61     No  Sun  Dinner     4       1     0

### Method2

In [0]:
from sklearn.preprocessing import LabelEncoder

In [16]:
df = pd.read_csv('tips.csv')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [0]:
le = LabelEncoder()
label = le.fit_transform(df['sex'])

In [18]:
label

array([0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0])

In [19]:
   le.classes_

array(['Female', 'Male'], dtype=object)

In [0]:
data = df.drop('sex',axis='columns')

In [21]:
data.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [22]:
data['sex'] = label
data

     total_bill   tip smoker   day    time  size  sex
0         16.99  1.01     No   Sun  Dinner     2    0
1         10.34  1.66     No   Sun  Dinner     3    1
2         21.01  3.50     No   Sun  Dinner     3    1
3         23.68  3.31     No   Sun  Dinner     2    1
4         24.59  3.61     No   Sun  Dinner     4    0
..          ...   ...    ...   ...     ...   ...  ...
239       29.03  5.92     No   Sat  Dinner     3    1
240       27.18  2.00    Yes   Sat  Dinner     2    0
241       22.67  2.00    Yes   Sat  Dinner     2    1
242       17.82  1.75     No   Sat  Dinner     2    1
243       18.78  3.00     No  Thur  Dinner     2    0

[244 rows x 7 columns]

In [23]:
sex = pd.get_dummies(df['sex'])
sex.head()

   Female  Male
0       1     0
1       0     1
2       0     1
3       0     1
4       1     0

In [24]:
data = pd.concat([data,sex],axis=1)
data.head()

   total_bill   tip smoker  day    time  size  sex  Female  Male
0       16.99  1.01     No  Sun  Dinner     2    0       1     0
1       10.34  1.66     No  Sun  Dinner     3    1       0     1
2       21.01  3.50     No  Sun  Dinner     3    1       0     1
3       23.68  3.31     No  Sun  Dinner     2    1       0     1
4       24.59  3.61     No  Sun  Dinner     4    0       1     0

## Titanic

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('https://bit.ly/kaggletrain')

In [27]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [28]:
df.shape

(891, 12)

In [29]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [30]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [0]:
## Selecting features

# Survived = target

In [0]:
# not all rows!! df = df.loc[:.['Survived','Pclass','Sex','Embarked']]

In [0]:
df = df.loc[df.Embarked.notna(),['Survived','Pclass','Sex','Embarked']]

In [34]:
df.shape

(889, 4)

In [35]:
df.head()

   Survived  Pclass     Sex Embarked
0         0       3    male        S
1         1       1  female        C
2         1       3  female        S
3         1       1  female        S
4         0       3    male        S

In [0]:
# 1 start by crossvalidating a survive, only with Pclass
# 2 How to use Pipeline
# 3 How to use One hot encoder and column transformer.

In [0]:
X = df.loc[:,['Pclass']]
y = df.Survived

In [38]:
X.shape

(889, 1)

In [39]:
y.shape

(889,)

In [0]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [41]:
cross_val_score( LogisticRegression(), X,y, cv=5, scoring='accuracy').mean()

0.6783406335301212

In [42]:
cross_val_score( LogisticRegression(), X,y, cv=10, scoring='accuracy').mean()

0.6783580183861082

In [43]:
y.value_counts(normalize=True)

0    0.617548
1    0.382452
Name: Survived, dtype: float64

In [0]:
# I want to add more features to my model, and cross validate! Features are categorical!

In [0]:
#One hot encoding(= dummies encoding)

In [46]:
df.head()

   Survived  Pclass     Sex Embarked
0         0       3    male        S
1         1       1  female        C
2         1       3  female        S
3         1       1  female        S
4         0       3    male        S

In [0]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

In [48]:
ohe.fit_transform(df[['Embarked']])

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       ...,
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [49]:
ohe.categories_

[array(['C', 'Q', 'S'], dtype=object)]

In [0]:
X = df.drop('Survived',axis='columns')

In [51]:
X.head()

   Pclass     Sex Embarked
0       3    male        S
1       1  female        C
2       3  female        S
3       1  female        S
4       3    male        S

In [0]:
from sklearn.compose import make_column_transformer

In [0]:
column_trans = make_column_transformer(
              (OneHotEncoder(),['Sex','Embarked']),
              remainder = 'passthrough'    
)

In [54]:
column_trans.fit_transform(X)

array([[0., 1., 0., 0., 1., 3.],
       [1., 0., 1., 0., 0., 1.],
       [1., 0., 0., 0., 1., 3.],
       ...,
       [1., 0., 0., 0., 1., 3.],
       [0., 1., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 3.]])

In [0]:
from sklearn.pipeline import make_pipeline

In [0]:
pipe = make_pipeline(column_trans, LogisticRegression())

In [57]:
cross_val_score(pipe,X,y, cv=5, scoring='accuracy').mean()

0.7727924839713071

In [58]:
X_new = X.sample(5, random_state=667)
X_new

     Pclass     Sex Embarked
685       2    male        C
567       3  female        S
141       3  female        S
578       3  female        C
198       3  female        Q

In [59]:
pipe.fit(X,y)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories='auto',
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                sparse=True),
                                                  ['Sex', 'Embarked'])],
                                   verbose=False)),
                ('logisticregression',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [60]:
pipe.predict(X_new)

array([0, 1, 1, 1, 1])

## Create dummy variable in Pandas

In [0]:
import pandas as pd

In [0]:
train = pd.read_csv('https://bit.ly/kaggletrain')

In [0]:
#train['Sex_male'] = train.Sex.map({'female':0, 'male':1})

In [70]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [71]:
pd.get_dummies(train,columns=['Sex','Embarked'], drop_first=True )

     PassengerId  Survived  Pclass  ... Sex_male  Embarked_Q  Embarked_S
0              1         0       3  ...        1           0           1
1              2         1       1  ...        0           0           0
2              3         1       3  ...        0           0           1
3              4         1       1  ...        0           0           1
4              5         0       3  ...        1           0           1
..           ...       ...     ...  ...      ...         ...         ...
886          887         0       2  ...        1           0           1
887          888         1       1  ...        0           0           1
888          889         0       3  ...        0           0           1
889          890         1       1  ...        1           0           0
890          891         0       3  ...        1           1           0

[891 rows x 13 columns]

In [72]:
train.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [0]:
embarked_dummies = pd.get_dummies(train.Embarked,prefix='Embarked').iloc[:,1:]

In [74]:
train = pd.concat ([train, embarked_dummies], axis=1)
train.head()

   PassengerId  Survived  Pclass  ... Embarked Embarked_Q  Embarked_S
0            1         0       3  ...        S          0           1
1            2         1       1  ...        C          0           0
2            3         1       3  ...        S          0           1
3            4         1       1  ...        S          0           1
4            5         0       3  ...        S          0           1

[5 rows x 14 columns]

In [75]:
pd.get_dummies(train.Sex, prefix='Sex').iloc[:,1:]

     Sex_male
0           1
1           0
2           0
3           0
4           1
..        ...
886         1
887         0
888         0
889         1
890         1

[891 rows x 1 columns]

## Missing Value in Pandas

In [0]:
import pandas as pd

In [0]:
ufo = pd.read_csv('https://bit.ly/uforeports')

In [80]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [82]:
ufo.tail()

              City Colors Reported Shape Reported State              Time
18236   Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237  Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238  Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239  Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240         Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [83]:
ufo.isnull().tail()

        City  Colors Reported  Shape Reported  State   Time
18236  False             True           False  False  False
18237  False             True           False  False  False
18238  False             True            True  False  False
18239  False            False           False  False  False
18240  False             True           False  False  False

In [84]:
ufo.isnull().sum()

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [85]:
ufo[ufo.City.isnull()]

      City Colors Reported Shape Reported State              Time
21     NaN             NaN            NaN    LA    8/15/1943 0:00
22     NaN             NaN          LIGHT    LA    8/15/1943 0:00
204    NaN             NaN           DISK    CA   7/15/1952 12:30
241    NaN            BLUE           DISK    MT    7/4/1953 14:00
613    NaN             NaN           DISK    NV    7/1/1960 12:00
1877   NaN          YELLOW         CIRCLE    AZ    8/15/1969 1:00
2013   NaN             NaN            NaN    NH     8/1/1970 9:30
2546   NaN             NaN       FIREBALL    OH  10/25/1973 23:30
3123   NaN             RED       TRIANGLE    WV  11/25/1975 23:00
4736   NaN             NaN         SPHERE    CA   6/23/1982 23:00
5269   NaN             NaN            NaN    AZ   6/30/1985 21:30
6735   NaN             NaN      FORMATION    TX     4/1/1992 2:00
7208   NaN             NaN         CIRCLE    MI   10/4/1993 17:30
8828   NaN             NaN       TRIANGLE    WA  10/30/1995 21:30
8967   NaN             NaN        VARIOUS    CA   12/8/1995 18:00
9273   NaN             NaN       TRIANGLE    OH     5/1/1996 3:00
9388   NaN             NaN           OVAL    CA   6/12/1996 12:00
9587   NaN             NaN            EGG    FL   8/24/1996 15:00
10399  NaN             NaN       TRIANGLE    IL   6/15/1997 23:00
11625  NaN             NaN         CIRCLE    TX     6/7/1998 7:00
12441  NaN             RED       FIREBALL    WA  10/26/1998 17:58
15767  NaN             NaN      RECTANGLE    NV   1/21/2000 11:30
15812  NaN             NaN          LIGHT    NV     2/2/2000 3:00
16054  NaN           GREEN            NaN    FL    3/11/2000 3:30
16608  NaN             NaN         SPHERE    NY   6/15/2000 15:00

In [86]:
ufo.shape

(18241, 5)

In [87]:
ufo.dropna( how='any').shape

(2486, 5)

In [88]:
ufo.shape

(18241, 5)

In [90]:
ufo.dropna( how='all').shape

(18241, 5)

In [94]:
ufo

                       City Colors Reported  ... State              Time
0                    Ithaca             NaN  ...    NY    6/1/1930 22:00
1               Willingboro             NaN  ...    NJ   6/30/1930 20:00
2                   Holyoke             NaN  ...    CO   2/15/1931 14:00
3                   Abilene             NaN  ...    KS    6/1/1931 13:00
4      New York Worlds Fair             NaN  ...    NY   4/18/1933 19:00
...                     ...             ...  ...   ...               ...
18236            Grant Park             NaN  ...    IL  12/31/2000 23:00
18237           Spirit Lake             NaN  ...    IA  12/31/2000 23:00
18238           Eagle River             NaN  ...    WI  12/31/2000 23:45
18239           Eagle River             RED  ...    WI  12/31/2000 23:45
18240                  Ybor             NaN  ...    FL  12/31/2000 23:59

[18241 rows x 5 columns]

In [91]:
ufo.dropna(subset=['City','Shape Reported'], how='all').shape

(18237, 5)

In [0]:
ufo['Shape Reported'].fillna(value='VARIOUS', inplace=True)

In [93]:
ufo['Shape Reported'].value_counts(dropna=False)

VARIOUS      2977
LIGHT        2803
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
CRESCENT        2
ROUND           2
FLARE           1
PYRAMID         1
HEXAGON         1
DOME            1
Name: Shape Reported, dtype: int64